[data-theme="dark"] {
  background-color: hsl(0, 0%, 100%) !important;
  color: hsl(230, 17%, 14%);
}

[data-theme="dark"] .bg-light {
  background-color: #333 !important;
}

[data-theme="dark"] .bg-white {
  background-color: #000 !important;
}

[data-theme="dark"] .bg-black {
  background-color: #eee !important;
}